.parent {
  display: flex;
}
.movies {
  background: #3399ff;
  padding: 0.5em 1em 0.5em 1.5em;
  margin: 1em;
  max-width: 16em;
}
.movies .movieListItems {
  /* 14px =0.875 */
  font-size: 0.875em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #cce5ff;
  padding: 0.3em;
  margin: 0.2em;
  text-align: left;
}
.selected {
  background: mediumaquamarine !important;
  color: white;
}
